@import "../../../../../common/styles.scss";

.Reply {
  width: 100%;
  padding: 30px 0;

  * {
    padding: 3px 0;
  }

  .Body, .Meta {
    padding-left: 47px;
  }

  .Body {
    display: flex;
    justify-content: space-between;

    b {
      margin-left: 50px;
      cursor: pointer;
      font-weight: 400;
      color: $blue;
    }
  }

  .Meta {
    .Likes {
      color: $red;
    }
  }
}
