@import "../../../../common/styles.scss";

$containerWidth: 90%;

.CategoryView {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 80px;
  
  .catTitle {
    font-size: 30px;
    font-weight: 500;
    color: $blue;
    padding: 20px;
  }

  .topics {
      width: 100%;
  }
}
