@import '../../../../../common/styles.scss';

.TopicPreview {
  padding: 15px;
  margin: 15px 80px;

  &:hover {
    cursor: pointer;
    background: $lightGrey;
  }

  .body {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .topic {
          .title {
              font-weight: 500;
          }
          .description {
              padding: 3px;
          }
      }
  }

  .meta {
    padding: 2px;

    display: flex;

    .likes {
      color: $red;
      padding-right: 30px;
    }
    .replies {
      color: $blue;
    }
  }
}
