@import "../../../../common/styles.scss";

$containerWidth: 90%;


.Progress {
  width: 100%;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Topic {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 80px;

  .Post {
    width: $containerWidth;
    padding: 50px;

    box-shadow: 0 2px 0 #eee;

    .Header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 25px;

      .Title {
        color: $primary;
      }
    }

    .Description {
      font-size: 18px;
    }
  }


  .Replies {
    padding-top: 30px;
    width: $containerWidth;
  }
}
