@import "../../../../common/styles.scss";

.User {
  display: flex;
  justify-content: flex-end;

  margin-left: 12px;


  .Avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: hotpink;
  }

}

.nameField {
  outline: none;
  user-select: none;

  div {
    padding: 5px 12px;
    color: $primary;
  }
}
