/**
 * Commonly used colors, mixin functions and variables
**/

/* Primary color */
$blue: #0099ee;
$mainBackground: #efefff;
$componentBackground: white; 


/* Less visible text */
$lightText: #999;

/* Small box shadow */
$authShadow: 0 1px 3px rgba(0,0,0,0.6);
$pageShadow: 0 2px 2px rgba(0,0,0,0.6);
