/**
 * Commonly used colors, mixin functions and variables
**/

$TOPBAR_HEIGHT: 60px;

$RESPONSIVE_MEDIUM: 959px;
$RESPONSIVE_LOW: 600px;

$componentWidth: 90%;

$hoverTransitionTime: 0.15s;

/* Primary color */
$primary: #0099ee;
$red: #f96c0e;
$lightGrey: #e3e3e3;

$mainBackground: #efefff;
$componentBackground: #fff;


/* Less visible text */
$lightText: #999;
$whiteText: #fff;

/* Small box shadow */
$authShadow: 0 1px 3px rgba(0,0,0,0.6);
$pageShadow: 0 2px 2px rgba(0,0,0,0.6);
$topicShadow: 0 2px 0 rgba(0,0,0,0.4);


:export {
  blue : $primary;
  red: $red;
  mainBackground: $mainBackground;
  componentBackground: $componentBackground;

  lightText: $lightText;
  whiteText: $whiteText;

  authShadow: $authShadow;
  pageShadow: $pageShadow;

  TOPBAR_HEIGHT: $TOPBAR_HEIGHT;
  componentWidth: $componentWidth;
  lightGrey: $lightGrey;
}
