/**
 * Commonly used colors, mixin functions and variables
**/

/* Primary color */
$blue: #0099ee;

/* Less visible text */
$lightText: #999;

/* Small box shadow */
$boxShadow: 0 1px 3px rgba(0,0,0,0.6);
