@import "../../../common/styles.scss";

.CreateTopic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
    .container {
        display: flex;
        flex-direction: column;
        width: 90vw;
        height: 90vh;
        background: $componentBackground;
        box-shadow: $pageShadow;
        border-radius: 10px;
        align-items: center;

        h1 {
            color: $blue;
            margin-top: 3vh;
        }

        .form {
            width: 80%;
            margin-top: 5vh;

            .buttons {
                display: flex;
                width: 100%;
                justify-content: flex-end;
    
                button {
                    margin: 4px;
                }
    
                .postBtn {
                    background: $blue;
                    color: $whiteText;
                }
                .discardBtn {
                    background: $red;
                    color: $whiteText;
                }
            }
        }
        
    }
}

